{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<a href="{% url 'reviews:index' %}">목록으로</a>
<h1>{{ review.pk }}번 게시글</h1>
<p>작성자 : {{ review.user }}</p>
<p>제목 : {{ review.title }}</p>
<p>내용 : {{ review.content }}</p>
<p>영화 : {{ review.movie_name }}</p>
<p>작성시간 : {{ review.created_at }}</p>
<p>수정시간 : {{ review.updated_at }}</p>
<a href="{% url 'reviews:update' review.pk %}">수정하기</a>
<a href="{% url 'reviews:delete' review.pk %}">삭제하기</a>
{% comment %} 댓글 {% endcomment %}
{% if request.user.is_authenticated %} 
<h4>댓글</h4>
{% if comments %}
<p >{{ comments.count }}개 </p>
{% endif %}

{% if request.user.is_authenticated %}
<form action="{% url 'reviews:comment_create' review.pk %}" method='POST'>
    {% csrf_token %}
  <div class="input-group mb-3">
    <textarea name="content" id="content" rows="2" col="20"></textarea>
    <input type="submit" value="작성">
  </div>
</form>
{% endif %}
{% endif %}
{% for comment in comments %}
{% if request.user == comment.user %}
<a href="{% url 'reviews:comment_delete' review.pk comment.pk %}" class='btn btn-danger float-end'>삭제</a>
{% endif %}
  <div class=''>
    <p > {{ comment.user.username}}님 </p>
    <p>{{ comment.content }}</p>
  </div>
  <hr>
  <br>

  {%empty%}
  <p>댓글이 없어요 ㅠ_ㅠ</p>
{% endfor %}
</div>

{% endblock %}