{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<h1>Movies</h1>
<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col">user</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Movie Name</th>
      <th scope="col">Grade</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <!-- 넘겨받은 페이지 객체만큼 반복한다. -->
    {% for i in review %}
    <tr>
      <td class="fw-bold"><a href="">{{ i.user }}</a></td>
      <td>{{ i.title }}</td>
      <td>{{ i.content }}</td>
      <td>{{ i.movie_name }}</td>
      <td>{{ i.grade }}</td>
      <td>{{ i.created_at }}</td>
      <td>{{ i.updated_at }}</td>
    </tr>
    {% endfor %} 
  </tbody>
</table>
<div class="d-flex justify-content-end">
  <a href="{% url 'reviews:create' %}">
    <button type="button" class="btn btn-primary mb-3">New Movie</button>
  </a>
</div>
{% endblock %}